<script>
	import { Router, Route } from "svelte-navigator";
	import Layout from "./routes/__layout.svelte";
	import Index from "./routes/index.svelte";
	import About from "./routes/about.svelte";
</script>

<Layout>
	<Router>
		<Route path="/">
			<Index />
		</Route>
		<Route path="about">
			<About />
		</Route>
	</Router>
</Layout>
