<style global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	.bg-email {
		background-image: url('/static/images/email-pattern.png');
	}
</style>

<svelte:head>
	<title>__PLACEHOLDER__</title>
</svelte:head>
<script>
	import 'smelte/src/tailwind.css';
</script>

<div class="bg-email">
	<slot />
</div>
