<script>
	async function load() {
		const url = `/hello`;
		const res = await fetch(url);
		const data = await res.json();

		if (res.ok) {
			return data;
		}

		throw new Error(`Could not load ${url}`);
	}

  	import FixedButton from '$lib/FixedButton.svelte';
	import {Snackbar} from 'smelte';

	let show_snackbar: boolean = false;
	let counter: number = 0;
</script>

<Snackbar bind:value={show_snackbar}>
	<div>You have clicked the button {counter} time{counter > 1 ? 's' : ''} today.</div>
</Snackbar>

{#await load()}
	<h1>LOADING...</h1>
{:then data}
	<div class="w-screen h-screen -- flex justify-center items-center flex-col">
		<h1 class="text-6xl mb-10">{data.msg}</h1>
		<FixedButton
			color="blue"
			on:click={() => {show_snackbar = true; counter += 1}}>
			Click Me
		</FixedButton>
	</div>
{/await}
