
<script>
	import {Button,} from 'smelte';
	export let disabled: boolean = false;
	export let color: string;
	if (disabled) {
		color = "black"
	};
	const props = {
		color,
		disabled,
		...$$restProps
	};
</script>

	<Button on:click on:mouseover {...props}>
		<slot></slot>
	</Button>


